@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-neutral-300 antialiased;
    font-family: 'Inter', 'SF Pro Display', system-ui, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-medium text-white tracking-tight;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
